body {
  background-image: url('gambar1.jpg');
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header{
  width: 100%;
  position:absolute ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  text-align: center;
  margin: 0 auto;
  top: 15px;
  font-size: 20px;
}
.header strong{
  font-size: 2.5rem;
  width: 100%;
  color: #E9967A;
  text-align: center;
  line-height: 50px;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container form{
  width: 90%;
  top: 90px;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}
form h3{
  color: #0f2027;
  text-align: center ;
}
.input-control{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.input-control label{
  flex-basis: 28%;
}
.input-control input, .input-control textarea{
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}
form button{
  background:#141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}
.input-control span {
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;
}
.input-control span i{
  color: seagreen;
}
#submit-error{
  color: red;
}